body {
    width: 100%;
    font-size: 13px;
    font-family: 'Galdeano', sans-serif;
    color: #ffffff;
    min-height: 100%;
    background:
        url('{%BASE%}../img/top-bg.jpg') no-repeat scroll 50% 0,
        url('{%BASE%}../img/footer-bg.jpg') no-repeat scroll 50% 100% / 100% 381px #050505;
}

h1 { font-size: 22px; font-weight: bold; color: #c60000; margin-bottom: 20px; }
h2 { font-size: 18px; font-weight: bold; color: #c60000; margin-bottom: 15px; }
a { color: #ff2424; }
hr { width: 824px; height: 1px; margin: 0 auto; background-color: #232323; border: 0px; }

.spinner { opacity: 0; }

.width-wrap, .widget[data-node-mode="full"] { width: 824px; margin: 0 auto; }

.block-header { text-align: center; }

.widget.logo {
    display: inline-block; margin: 40px auto 0 auto;
    -webkit-perspective: 170px;
    perspective: 170px;
}
.run-animation .widget.logo {
    -webkit-animation: rotate-side 1s ease-in-out;
    animation: rotate-side 1s ease-in-out;
}

@-webkit-keyframes rotate-side {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
    90% {
        -webkit-transform: rotateX(50deg) rotateY(375deg);
    }
    97%, 100% {
        -webkit-transform: rotateX(0deg) rotateY(360deg);
    }
}

@keyframes rotate-side {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    90% {
        transform: rotateX(50deg) rotateY(375deg);
    }
    95%, 100% {
        transform: rotateX(0deg) rotateY(360deg);
    }
}


.widget-nodes-menu#main-menu ul { width: 824px; margin: 40px auto 0 auto; display: table; }
    .widget-nodes-menu#main-menu li { display: table-cell; width: 33%; height: 71px; background-color: rgba(8,25,39,0.25); text-align: center; vertical-align: middle; border-right: 1px solid transparent; }
    .widget-nodes-menu#main-menu li:last-child { border-right: 0px; }
        .widget-nodes-menu#main-menu li a { color: #fff; font-size: 19px; text-decoration: none; display: inline-block; width: 100%; line-height: 71px; }
        .widget-nodes-menu#main-menu li:nth-child(2) a{ background: url('{%BASE%}../img/item-menu-center.png') no-repeat 50% 0 / 100% 4px; }

    .widget-nodes-menu#main-menu li.opened {
        background: #01262d; /* Old browsers */
        background: -moz-linear-gradient(top, #01262d 0%, #05404b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01262d), color-stop(100%,#05404b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #01262d 0%,#05404b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #01262d 0%,#05404b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #01262d 0%,#05404b 100%); /* IE10+ */
        background: linear-gradient(to bottom, #01262d 0%,#05404b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01262d', endColorstr='#05404b',GradientType=0 ); /* IE6-9 */
    }

.widget-breadcrumbs { margin-bottom: 30px; }
    .widget-breadcrumbs .divider { display: inline-block; margin: 0 8px; }

.block-content { padding: 30px 0px; }

.widget-features { background: url('{%BASE%}../img/features-bg.jpg') no-repeat 0 0; background-size: 100% 266px; margin-top: 30px; }
    .widget-features h2 { color: #ffffff; }
    .widget-features .widget-wrapInner { width: 824px; margin: 0px auto 5px auto; height: 226px; padding: 20px 0; }

    .widget-features .features-list { margin-top: 30px; }
    .widget-features .featur-item { display: inline-table; margin-bottom: 30px; width: 33%; }
    .widget-features .featur-item .img-wrap { display: table-cell; vertical-align: middle; width: 60px; }
    .widget-features .featur-item .title { display: table-cell; vertical-align: middle; font-size: 17px; text-align: left; padding: 10px; }
    .widget-features .featur-item img { border: 1px solid #071a26; box-shadow: 0 0 8px 0 #0a151d; }

.widget-gallery { margin-top: 30px; text-align: center; }
    .widget-gallery .gallery-item { width: 28%; max-width: 400px; margin: 20px; border: 1px solid #071a26; box-shadow: 0 0 8px 0 #0a151d; box-sizing: border-box; display: inline-block; }
    .widget-gallery .gallery-item img { width: 100%; height: auto; }

.block-footer { height: 350px; text-align: center; }


[data-node-type="article"][data-node-mode="preview"] a, [data-node-type="article"][data-node-mode="preview"] h2 { color: #ffffff; }
[data-node-type="article"][data-node-mode="preview"] .more-link { display: none; }


@media screen and (max-width: 824px) {

    hr { width: 100%; }

    .widget.logo img { width: 50%; }

    .widget-nodes-menu#main-menu ul { width: 80%; }
    .widget-nodes-menu#main-menu li { display: block; width: 100%;  }

    .block-content { padding: 30px; }

    .widget-nodes-menu#main-menu li:nth-child(1) a{ background: url('{%BASE%}../img/item-menu-center.png') no-repeat 50% 0 / 100% 4px; }
    .widget-nodes-menu#main-menu li:nth-child(2) a{ background: none; }

    .width-wrap, .widget[data-node-mode="full"] { width: 100%; }

    .widget-features { background-size: 100% 100%; }
    .widget-features .widget-wrapInner { width: 100%; height: auto; }

    .widget-features .featur-item { width: 100%; }

    .widget-gallery .gallery-item { width: 100%; margin: 10px auto; }

}