.widget-object-editor  { background: #f3f3f3; border-radius: 3px;	padding: 20px; max-width: 700px; }
.widget-object-editor .core-form .form-buttons { text-align: center; padding: 15px 0; }
.widget-object-editor .section { margin-bottom: 45px; }