/* Выбор медиа */
/* ----------------------------------- */
.media-manager { text-align: center; }
	.media-manager .folder { margin: 5px; display: inline-block; border: 1px solid #CCCCCC; box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); border-radius: 4px; padding: 4px; cursor: pointer; }
	.media-manager .folder:hover{ background: blue; color: white; font-weight: white; }
	.media-manager .foldersContent > * {	vertical-align : middle; }
	.media-manager .media { display: inline-block; text-align: center; position: relative; vertical-align: middle; width: 98px; height: 98px; margin: 5px; border: 4px solid white; box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); font-size: 12px; border-radius: 4px; padding: 4px; cursor: pointer; }
		.media-manager .media.selected { border: 2px solid blue;}
	.media-manager .media:hover { box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); }
	.media-manager .media .preview { height: 60px; margin-bottom: 5px; text-align: center; }
	.media-manager .media .title { overflow: hidden; max-width: 98px; font-size:11px; display: block; }
	.media-manager .type-icon { position: absolute; top: -12px; left: -12px; width: 24px; height: 24px; }
	.media-manager .nodes-manager-content { min-height: 100px; }
	