.packages-manager > .container { display: block;}
.packages-manager > .container > * { display: block; }

.packages-manager .components-list { min-width: 250px; padding-right: 5px;}

.packages-manager .components-list .component {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    text-align: center;
    padding: 10px;
    border: 1px solid #dddddd;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 4px;
    background-image: linear-gradient(#FFFFFF, #EEEEEE);
}

.packages-manager .components-list .component.active {
  background-image: linear-gradient(#0c86cd, #4a9ac8);
  color: #ffffff;
}

.packages-manager .core-table .cell-id-description {
  font-size: 11px;
  text-align: left;
  color: #777;
}
.packages-manager .core-table .delete-package .icon { width: 17px; height: 17px; background-image: url('{%BASE%}icon-trash.png');}
.packages-manager .core-table .download-package .icon { width: 17px; height: 17px; background-image: url('{%BASE%}icon-download.png');}
.packages-manager .core-table .install-package .icon { width: 17px; height: 17px; background-image: url('{%BASE%}icon-install.png');}

.packages-manager .component-editor {
  width: 80%;
}
