.content-editor {
	width: 100%;
	border: 1px solid #DDD;
	margin: 10px 0;
}

.content-editor  > div {
	vertical-align: top;
}

.content-editor-block {
	width: 100%;
	margin: 0;
	margin-bottom: 2px;
	border: 1px solid #DDD;
	border-radius: 3px;
}

.content-editor-block > .table {
	display: table;
	width: 100%;
}

.content-editor-block.ui-sortable-helper {
	box-shadow: 0 0 0 2px #134e86;
	opacity: 0.7;
}

.content-editor-block.focused {
	box-shadow: 0 0 0 2px #9b0000;
}

.content-editor-block > .table > * {
	display: table-cell;
	vertical-align: top;
}

.content-editor-block > .table > .drag-handle {
	content: '';
	width: 12px;
	min-width: 12px;
	cursor: pointer;
	background-color: #eee;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{%BASE%}../img/drag-handle-bg.png');
}

.content-editor-block >  .table > .toolbar {
	padding: 2px;
	width: 16px;
	border:1px solid white;
	background-color: #EEE;
	text-align: center;
}

.content-editor-block > .table > .content {
	padding: 1px;
	width: 100%;
}


.content-editor-block >  .table > .toolbar .flex-button {
	text-align: center;
	background: transparent;
	border: none;
	display: block;
	box-shadow: none;
	margin: 0 4px;
	padding: 1px;
}

.content-editor-block >  .table > .toolbar .flex-button .icon {
	width: 12px;
	height: 12px;
}

.content-editor-block >  .table > .toolbar .flex-button.id-delete .icon { background-image: url('{%BASE%}../img/icon-delete.png'); }
.content-editor-block >  .table > .toolbar .flex-button.id-settings .icon { background-image: url('{%BASE%}../img/icon-settings.png'); }

.content-editor > .content-editor-content {
	padding: 5px;
}

.content-editor > .content-editor-toolbar {
	padding: 1px;
	text-align: left;
	vertical-align: middle;
	border:1px solid white;
	background-color: #EEE;
	border-bottom: 5px solid #DDD;
}

.content-editor > .content-editor-toolbar .flex-button {
	margin: 2px 5px;
	background: transparent;
	border: none;
	box-shadow: none;
	width: 32px;
	height: 32px;
}

.content-editor > .content-editor-toolbar .flex-button:hover {
	background: white;
}

.content-editor > .content-editor-toolbar .flex-button:after { content:"\A"; white-space:pre; }

.content-editor > .content-editor-toolbar .flex-button .icon {
	width: 18px;
	height: 18px;
}

.content-editor > .content-editor-toolbar > .divider {
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	border-left: 1px solid silver;
	border-right: 1px solid white;
}


.content-editor > .content-editor-toolbar .flex-button .icon {
	width: 22px;
	height: 22px;
}

.content-editor > .content-editor-toolbar .flex-button[data-block-type=html] .icon {
	background-image: url('{%BASE%}../img/icon-html.png');
}

.content-editor > .content-editor-toolbar .flex-button[data-block-type=media] .icon {
	background-image: url('{%BASE%}../img/icon-media.png');
}

.content-editor > .content-editor-toolbar .flex-button[data-block-type=widget] .icon {
	background-image: url('{%BASE%}../img/icon-widget.png');
}

.content-editor > .content-editor-toolbar .flex-button.id-trash .icon {
	background-image: url('{%BASE%}../img/icon-trash.png');
}

.content-editor > .content-editor-toolbar .flex-button.id-toggle-mode .icon {
	background-image: url('{%BASE%}../img/icon-preview.png');
}
