.admin-toolbar { background: white; border: 2px solid white; box-shadow: 0 0 3px rgba(0,0,0,0.4); display: inline-block; vertical-align: middle; }
	.admin-toolbar .flex-button .icon { display: inline-block; width: 24px; height: 24px; margin: 4px 6px;}
