.widget-geo-switch-region {
	font-size: 11px;
	background-color: #F0F0F0;
	background-image: linear-gradient(#FAFAFA, #F0F0F0);
	border-radius: 2px;
	display: inline-block;
	vertical-align: middle;
	padding: 6px;
	border-radius: 3px;
	cursor: pointer;
}

.widget-geo-switch-region div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.widget-geo-switch-region .select {
	vertical-align: middle;
	margin-left: 10px;
	display: inline-block;
	background-image: url('/packages/ran/assets/img/geo-switch-region-arrow.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}