html { height: 100%; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

* { outline-color: transparent; }



/* Рабочий стол */
.admin-desktop { position: fixed; top: 0; bottom: 0; left: 0; right: 0; pointer-events:none; z-index: 1000;}
.admin-desktop * {
	pointer-events: all;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


/* Основное элементы  */
.adminTools .ui-dialog {
    border-radius: 3px;
    border:2px solid white;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.adminTools { color: black; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; color: #222; box-sizing: border-box; }
.adminTools strong { font-weight: bold; }
.adminTools h1, .adminTools h2, .adminTools h3, .adminTools h4 { font-size: 12px;font-family: Arial, Helvetica, sans-serif; color: #444;}

.adminTools .ui-dialog-content { background: white; padding: 2px; }

/* Консоль разработчика --------------- */
.adminTools.console { font-size: 12px; position: fixed; right: 10px; bottom: 10px; width: 500px; height: 20px; text-align: left;
	box-shadow: 0 0 0 1px #CCCCCC, 0 0 0 5px white,	0 0 20px 0px black; z-index: 100; background: white; overflow: hidden; }
	.adminTools.console h3.consoleHeader { color: black; cursor: pointer; background: #DDDDDD; margin: 0; padding: 4px;}
	.adminTools.console .body { position: absolute;	top: 24px; bottom: 0; right: 0; left: 0; padding: 10px; overflow: auto; }


.dragObject {
	padding:4px;
	margin: 2px;
	border: 1px solid #AAAAAA;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
	display: inline-block;
	max-width: 300px;
	max-height: 300px;
	overflow: hidden;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(#EEEEEE, #FAFAFA);
	background-image: -moz-linear-gradient(#EEEEEE, #FAFAFA);
	background-image: linear-gradient(#EEEEEE, #FAFAFA);
}

/* ----------------------------------- */
.adminTools input[type=text],
.adminTools input[type=number],
.adminTools input[type=password],
.adminTools textarea,
.adminTools select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: white;
	display: inline-block;
	border-radius: 4px;
	box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4);
	border: 1px solid white;
	padding: 3px;
	line-height: 23px;
	min-height: 23px;
}


.adminTools * input[type=button],
.adminTools * input[type=submit] {
	cursor: pointer;
	display: inline-block;
	background: #ededed;
	padding: 0 10px;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(#EEE, #EEE, #DDD, #DDD);
	background-image: -moz-linear-gradient(#EEE, #EEE, #DDD, #DDD);
	background-image: -o-linear-gradient(#EEE, #EEE, #DDD, #DDD);
	background-image: -linear-gradient(#EEE, #EEE, #DDD, #DDD);
	color: black;
	min-height: 28px;
	border: 1px solid white;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}


.adminTools input[type=button]:hover,
.adminTools input[type=submit]:hover {
	min-height: 28px;
	background-image: -webkit-linear-gradient(#DDD, #DDD, #EEE, #EEE);
	background-image: -moz-linear-gradient(#DDD, #DDD, #EEE, #EEE);
	background-image: -o-linear-gradient(#DDD, #DDD, #EEE, #EEE);
	background-image: -linear-gradient(#DDD, #DDD, #EEE, #EEE);
	border: 1px solid #599fd8;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}


/* Страница ошибки */
/* ------------------------------------ */
body.template.error {
	height: 100%;
	width: 100%;
	background:#eee;
	background-repeat: no-repeat;
	background-position: center 25px;
	background-size: auto, cover;
	text-align: center;
}

body.template.error .error-frame {
	margin: 0 auto;
	position: relative;
	top: 50%;
	margin-top: -100px;
	text-align:center;
	background: white;
	background: rgba(255, 255, 255, 0.6);
	max-width: 80%;
	padding: 40px;
	vertical-align: middle;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
	overlfow: hidden;
}

body.template.error .error-code {
	font-size: 4em;
	color: #888;
	margin-bottom: 15px;
}


.adminTools .panelHeading {
	display: block;
	padding: 3px;
	background: #EEEEEE;
	background-image: -webkit-linear-gradient(#C4C4C4, #E8E8E8);
	background-image: linear-gradient(#C4C4C4, #E8E8E8);
	background-image: -moz-linear-gradient(#C4C4C4, #E8E8E8);
	margin: 1px;
	text-align: center;
	border-radius: 4px;
}

.adminTools .paginator {
	font-size: 12px;
	margin-top: 5px;
}

.adminTools .adminPanel {
	border-radius: 4px;
	border: 1px solid #EEEEEE;
	padding: 3px;
	margin: 3px;
	font-size: 12px;
}


.adminTools .adminPanelHeading {
	border-radius: 4px;
	background: #EEEEEE;
	background-image: -webkit-linear-gradient(#EEEEEE, #FAFAFA);
	background-image: -moz-linear-gradient(#EEEEEE, #FAFAFA);
	background-image: -o-linear-gradient(#EEEEEE, #FAFAFA);
	padding: 3px;
	margin-bottom: 4px;
	text-align: center;
}

.adminTools .adminPanelContent {
}


.errorFrame input[type=button]:hover {
	opacity: 1 !important;
}


/* Editor elements */
.page-element-widget:hover { outline: 2px solid rgba(255, 0, 0, 0.3); min-height: 20px; }
.page-element-widget.page-element-active:hover { outline: 2px solid rgba(255, 0, 0, 1); }
.page-element-block {
	padding: 5px 0;
    outline: 2px solid rgba(0, 150, 0, 0.3);
}
.page-element-block.page-element-active {
	box-shadow:
		0 0 0 1px white,
		0 0 0 2px rgba(0, 150, 0, 1);
}
.page-element-object:hover, .page-element-resource:hover { outline: 2px solid rgba(0, 140, 255, 0.3);}
.page-element-object.page-element-active:hover, .page-element-resource.page-element-active:hover { outline: 2px solid rgba(0, 140, 255, 1); }


.flex-panel {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 2px; margin: 2px; border-radius: 4px; border: 1px solid #EEEEEE;
}

.structure-parent {
	margin-bottom: 20px;
}
.structure-children > * {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}


.adminTools.flex-window .flex-window-icon { background-size: cover; width: 24px; height: 24px; display: inline-block; vertical-align: middle; margin-right: 8px; }






.flex-button {
	background-position: center;
	background-repeat: no-repeat;
}

.flex-button.selected {
	background-image: -webkit-linear-gradient(#2e85d8, #599fd8);
	background-image: -moz-linear-gradient(#2e85d8, #599fd8);
	background-image: -o-linear-gradient(#2e85d8, #599fd8);
	color: white;
}


.flex-dialog { text-align: center; }


/* Страничная навигация */
.flex-paginator .page { cursor: pointer; margin: 2px; padding: 4px; border-radius: 3px; background: #EEEEEE; display: inline-block; }
	.flex-paginator .page:hover { background: #AAAAAA; }



.galleryWrapper {
    background: none repeat scroll 0 0 white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 9px #444444;
    padding: 10px;
}


.flex-panel-title {
	display: block;
	border-top: 3px solid #444444;
	padding: 12px 6px;
	font-weight: bold;
	background: linear-gradient(#DDD, #EEE);
	margin-bottom: 4px;
}


.flex-tabsPanel {width: 100%;}
.flex-tabsPanel-header {
	display: block;
	border-bottom: 1px solid #ccc;
	background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255,255,255, 0) 70%, #eee 100%);
}

.flex-tabsPanel-content > .flex-tab > .flex-tab-heading {display: none;}
.flex-tabsPanel-tab-heading {
	position: relative;
	top: 1px;
	display: inline-block;
	padding: 7px;
	border-right: 1px solid #ccc;
	border-bottom: 3px solid #ccc;
	cursor: pointer;
	font-size: 12px;
	vertical-align: middle;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background: #EEEEEE;
	background: -webkit-linear-gradient(#EEE 0%, #EEE 50%, #EEE 60%, #FFF 100%);
	background: -moz-linear-gradient(#EEE 0%, #EEE 50%, #EEE 60%, #FFF 100%);
	background: -o-linear-gradient(#EEE 0%, #EEE 50%, #EEE 60%, #FFF 100%);
	background: linear-gradient(#EEE 0%, #EEE 50%, #EEE 60%, #FFF 100%);
	margin-top: 4px;
	padding-left: 10px; color: #555555;
	cursor: pointer;
	margin-right:2px;
}

.flex-tabsPanel-tab-heading:hover {
	border-bottom: 3px solid #134e86;
}

.flex-tabsPanel-tab-heading.active {
	opacity: 1;
	border-bottom: 3px solid transparent;
	color: white;
	background: #134e86;
}


.core-framed-element {
	border: 1px solid #DDD;
	border-bottom: 3px solid #EEE;
	margin-bottom: 3px;
	border-radius: 3px;
	background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0,0.05));
}



.mce-i-insertmedia { background: url('{%BASE%}../js/tinymce/plugins/insertmedia/img/icon-media.png') 50% 50% no-repeat !important; background-size: cover !important; }