.objects-manager .flex-table-row.active {
	background-image: -webkit-linear-gradient(#2e85d8, #599fd8)!important;
	background-image: -moz-linear-gradient(#2e85d8, #599fd8)!important;
	background-image: -o-linear-gradient(#2e85d8, #599fd8)!important;
	color: #fff;
}

.objects-manager .objects-toolbar {
    display: table;
    width: 100%;
	margin-bottom: 10px;
}

.objects-manager .objects-toolbar > * {
    display: table-cell;
}

.objects-manager .objects-toolbar > .divider {
}

.objects-manager .input-id-search { display: inline-block; }
.objects-manager .extendedButton { background: url("") no-repeat 50% 50%; }

.objects-manager input[name="search"] { min-width: 250px;  background-position: 95% center;  background-repeat: no-repeat; background-image: url("{%BASE%}icon-search.png"); }

.objects-manager .class-actions-toolbar {
    display: block;
    text-align: right;
    margin:10px 0;
}

.objects-manager .class-actions-toolbar > * {
	margin:0 4px;
}

.objects-manager .search-box-container {text-align: right; }
.objects-manager .search-box-container > * { vertical-align: middle; }
.objects-manager .search-box-container > .id-openAdvancedSearch { margin-left:5px; }
.objects-manager .search-box-container > .id-openAdvancedSearch .icon { width: 16px; height: 16px; background-image: url('{%BASE%}icon-open-search.png'); background-repeat: no-repeat; background-position: center; }
.objects-manager .search-box-container > .id-openAdvancedSearch.active .icon { background-image: url('{%BASE%}icon-open-search-active.png'); }
